/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #306193;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #d5d9dd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .anas{
    color: gray;
  }
  input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  button:nth-child(3) {
    background-color: #dc3545;
  }
  
  button:nth-child(3):hover {
    background-color: #c82333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #e9ecef;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li .actions {
    display: flex;
    gap: 10px;
  }
  
  li input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 16px;
  }
  
  li button {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  li button:hover {
    background-color: #0056b3;
  }
  
  li button:nth-child(2) {
    background-color: #ffc107;
  }
  
  li button:nth-child(2):hover {
    background-color: #e0a800;
  }
  